<!-- login.html -->
<link href="app/pages/create.css" rel="stylesheet">
<div class="jumbotron text-center">
  <form class="form-signin">
    <h2 class="form-signin-heading">Create a new Activity </h2>
    Name:
    <input id ="name" type="text" ng-model="user.name" name="uName" required=""/>
    <br>

    Date:
    <input type="text" ng-model="user.date" name="uDate" required="" />
    <br>

    Time:
    <input type="text" ng-model="user.time" name="uTime" required="" />
    <br>

    Going:
    <input type="text" ng-model="user.going" name="uGoing" required="" />
    <br>

    Creator:
    <input type="text" ng-model="user.creator" name="uCreator" required="" />
    <br>

    Comments:
    <input type="text" ng-model="user.comments" name="uComments" required="" />
    <br>

    <input type="submit" ng-click="onSubmit(user)" value="Save" />
  </form>
</div>

