<!-- pending.html -->
<link href="app/pages/pending.css" rel="stylesheet">

<div class="jumbotron text-center">
  <div class="container" ng-init="nextEvent(dummyData.shift())">
    <h2>You have a new request!</h2>
    <div id="pendingActivity">
      <h3>{{ evt.name }}</h3>
      
      <img id="activityPicture" ng-src="{{ evt.imageLink }}">
      <div id="specifics" class="card-panel teal lighten-2" ng-show="dummyData.length > 0">
        <p><b>Date:</b><pre> {{ evt.date }} </pre></p>
        <p><b>Time:</b><pre> {{ evt.time }} </pre></p>
        <p><b>Going:</b><pre> {{ evt.going }} </pre></p>
        <p><b>Creator:</b><pre> {{ evt.creator }} </pre></p>
        <p><b>Comments:</b>
          </br> <pre> {{ evt.comments }} </pre>
        </p>       
      </div> 

      
      <div id="noEventsLeft" ng-show="dummyData.length === 0">
        <h6 >No events at the moment :(</h6>
      </div>

      <div> 
        <button type="button" class="btn btn-lg" aria-label="Left Align" ng-click="discardEvent(dummyData)">Decline</button>
        <button type="button" class="btn btn-lg" aria-label="Right Align" ng-click="keepEvent(dummyData.shift())">Accept</button>
      </div>
      
    </div>
  </div> <!-- /container -->
</div>